@use '../base';

.location {
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    min-width: 250px;
    max-width: 320px;
    border-radius: 0  0 10px 10px;
    border-top: 5px solid base.$primary-color;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    &__title {
        margin: 1rem;
    }

    &__input {
        width: 100%;
        padding: 0.5rem 1rem;
        text-align: center;

        &:focus {
            border: 1px solid;
        }
    }

    &__details {
        margin: 1rem 0;
        font-size: 1.2rem;
        font-weight: 500;
    }
}